body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    background: #4f46e5;
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Home */
.home {
    background: #6366f1;
    color: white;
}

/* Buttons */
button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background: gray;
}

/* Features */
.feature-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Form */
input, textarea {
    width: 60%;
    padding: 10px;
    margin: 5px;
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .feature-box {
        flex-direction: column;
    }

    input, textarea {
        width: 90%;
    }
}